# from: http://www.digitalinternals.com/unix/unix-linux-include-header-in-grep-result/478/
function grepb () {
	IFS= read -r header
	echo "$header"
	grep "$@"
}

# No arguments: `git status`
# With arguments: acts like `git`
# from: https://github.com/thoughtbot/dotfiles/blob/master/zsh/functions/g
function g() {
	if [[ $# -gt 0 ]]; then
		git $*
	else
		git status
	fi
}